<div class="panel panel-default">
  <div class="panel-heading">{{character?.name}}</div>
  <div class="panel-body">
    <table id="table" class="table" >
        <tr>
            <td class="key">Height</td>
            <td>{{character?.height}}</td>
        </tr>
        <tr>
            <td class="key">Mass</td>
            <td>{{character?.mass}}</td>
        </tr>
        <tr>
            <td class="key">Hair color</td>
            <td>{{character?.hair_color}}</td>
        </tr>
        <tr>
            <td class="key">Skin color</td>
            <td>{{character?.skin_color}}</td>
        </tr>
        <tr>
            <td class="key">Eye color</td>
            <td>{{character?.eye_color}}</td>
        </tr>
        <tr>
            <td class="key">Birth year</td>
            <td>{{character?.birth_year}}</td>
        </tr>
        <tr>
            <td class="key">Gender</td>
            <td>{{character?.gender}}</td>
        </tr>
    </table>
  </div>
</div>

