<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="pull-left">Category {{category?.name}}</h4>
      <button type="button" class="btn btn-default pull-right" (click)="onEditClick()">Edit</button>
      <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <table id="table" class="table" >
        <tr>
            <td class="key">Id</td>
            <td>{{category?.categoryId}}</td>
        </tr>
        <tr>
            <td class="key">Sort-Nr.</td>
            <td>{{category?.sortNr}}</td>
        </tr>
    </table>
  </div>
</div>