<h3 *ngIf="category?.categoryId">Edit category</h3>
<h3 *ngIf="!category?.categoryId">New category</h3>
{{diagnostic}}
<form (ngSubmit)="onSubmit()" #categoryForm="ngForm" *ngIf="category">
  <div class="form-group">
    <label for="categoryId">Id</label>
    <input type="text" class="form-control" id="categoryId" name="categoryId" placeholder="Id" readonly="true" [ngModel]="category.categoryId">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="category.name" #name="ngModel" required>
    <div [hidden]="name.valid" class="alert alert-danger">
          Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="sortnr">Sort-Nr.</label>
    <input type="text" class="form-control" id="sortnr" name="sortnr" placeholder="Sort-Nr." [(ngModel)]="category.sortNr" required #sortnr="ngModel">
    <div [hidden]="sortnr.valid" class="alert alert-danger">
          Sort-Nr. is required
    </div>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!categoryForm.form.valid">Save</button>
</form>